:root {
  --oranzine: #ff4622;
  --plotis: 1000px;
  --soninis-atstumas: calc((100% - var(--plotis)) / 2);
  --main-width: calc(100% - var(var(--soninis-atstumas)));
  --text-width: calc(var(--plotis) * 0.4);
  --text-margin: calc(var(--plotis) * 0.1);
  --img-width: calc(var(--plotis) * 0.5 + var(--soninis-atstumas));
}
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: cursive;
}

header {
  display: inline-block;
  width: var(--plotis);
  margin-left: var(--soninis-atstumas);
  margin-top: 20px;
}
header > img {
  float: left;
  height: 40px;
  margin-top: 3px;
}
header > nav {
  float: right;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}
header > nav > a {
  display: inline-block;
  margin-left: 15px;
  line-height: 20px;
  font-size: 18px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #2c253e;
  border-bottom: 2px solid transparent;
}
header > nav > a:first-child {
  border-bottom: 2px solid #741111;
}
header > nav > a:hover {
  border-bottom: 2px solid var(--oranzine);
}

main {
  margin-top: 60px;
  width: var(--main-width);
  display: inline-block;
  margin-left: var(--soninis-atstumas);
}
main > div {
  float: left;
  width: var(--text-width);
  margin-right: var(--text-margin);
  margin-top: 50px;
}
main > div > h1 {
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 20px;
}
main > div > h1 > span {
  color: var(--oranzine);
  line-height: 40px;
  font-size: 45px;
  margin-bottom: 10px;
}
main > div > p {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}
main > div > a {
  display: inline-block;
  text-decoration: none;
  color: #ffff;
  background-color: var(--oranzine);
  border: 2px solid #d1583f;
  padding: 10px 25px;
  border-radius: 4px;
  margin-top: 25px;
}

main > div > a:hover {
  background-color: #ffff;
  color: var(--oranzine);
}

main > img {
  float: right;
  width: var(--img-width);
}
